html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
    height: 400px;
    width: 95%;
    margin: 0 auto;
}
label {
    padding: 5px;
    display: inline-grid;
    font-size: 18px;
}

input {
    font-size: 12px;
    padding: 10px;
}
#map-search {
	width: auto;
}
.adrr {
    padding: 10px 30px;
}